* {
  margin: 0;
  padding: 0;
 box-sizing: inherit;
}


table {
  width: 1300px;
  font-size: 1 rem;
  font-family: "Lato", sans-serif;
  margin: 20px;
  padding: 3rem;
  /* border-spacing: 10px;
*/}

th {
  text-align: left;
}

table, th, td {
border: 1px solid #000;
border-collapse: collapse;
}

th, td {
padding: 5px;
}

tr:nth-child(even) {
background-color: #fff;
}

tr:nth-child(odd) {
  background-color: #eee;
  }

  caption{
    border: 1px solid #000;
    font-size: 25px;
  }